@charset "utf-8";

section h1 {
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	color: rgb(130, 180, 240);
	text-shadow: black 1px 1px 0;
}

section  li {
	width: 55%;
	margin: 0 auto 5px auto;
}

section {
	clear: both;
	padding-bottom: 3em;
}
